.myclass {
  margin-top: 99px;
  margin-left: 175px;
  height: 100%;
  text-align: center;
}


.myclass img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.myclass > img {
    transition:transform 1s ease;
}

.myclass >img:hover {
   object-fit: contain;
   -webkit-transform:scale(2.555); /* or some other value */
    transform:scale(2.555);
}
